# Скомпилированные бинарники
/password-manager
/bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Тесты и профилирование
*.test
*.out
coverage.*

# Рабочие файлы Go
go.work
go.work.sum

# Логи и тестовые данные
*.log
test_files/

# Папки IDE
.idea/
.vscode/

# Временные файлы
*.tmp
.DS_Store

# Зашифрованные хранилища паролей
*.dat
